extends layout

block content
	h1= title
	p Number of rows:#{query.rows}
 	p Number of columns:#{query.cols}
  	- var rows = Number(query.rows)
  	- var cols = Number(query.cols)	
	if !(Number.isInteger(rows)) ||  !(Number.isInteger(rows))
		p The given values are not integers.
	else if rows > 6
		p The number of rows should be less than 6.
	else if cols > 6
		p The number of cols should be less than 6.
	else
		table#outer
			- for(let i = 0; i < rows; i++){
				tr#middle
			- for(let j = 0; j < col; j++){
				td=((i + j) % rows)
			-}
		-}	