extends layout

block content
	h1= title
	- var image_names = ['square', 'cat', 'dog', 'frog'. 'code']
	- for(let i=0; i<3; i++){
		-let num = Math.floor(Math.random()*5);
		img(src=`/images/${image_names[num]}` alt=`Image No ${num}` height="300px" width="300px")
    - } 

	}
